<div class="article, main">
  <% if @category %>
    <h5><%= link_to @category.name, category_path(@category) %></h5>
  <% end %>

  <div class="article-info">
    <%= I18n.l(@article.created_at, :format => :long).sub(/^./, &:upcase) %>
  </div>

  <h2><%= @article.title %></h2>


  <%= form_for(@article) do |f| %>
    <%= f.text_area :content, class: 'form-control' %>

    <%= f.submit "Išsaugoti", class: "btn btn-primary" %>
  <% end %>

  <script>
    var s = new SimpleMDE({element: document.getElementById("article_content")})
  </script>
</div>