<div class="article, main">
  <% if @category %>
    <h5><%= link_to @category.name, category_path(@category) %></h5>
  <% end %>

  <div class="article-info">
    <%= I18n.l(@article.created_at, :format => :long).sub(/^./, &:upcase) %>
  </div>

  <% if admin_user_signed_in? %>
    <h6 class="article-title"><%= link_to fa_icon('pencil', class: 'fa-2x'), edit_article_path(@article) %></h4>
  <% end %>
  
  <h2><%= @article.title %></h2>

  <div class="article-content">
    <%= markdown(@article.content) %>
  </div>
</div>