<% @categories = get_categories %>
<% @sponsors = get_sponsors %>

<!DOCTYPE html>
<html>
<head>
  <title>Olimpiados.lt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "Olimpiados.lt", root_path, class: "navbar-brand"  %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% @categories.each do |category| -%>
            <%= link_to category.display_name, category_path(category), class: "nav-item nav-link" %>
          <% end -%>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= render "layouts/header" %>
    <div class="row">
      <div class="col-sm-9"><%= yield %></div>
      <div class="col-sm-3 sidebar"><%= render "layouts/sidebar" %></div>
    </div>
    <% if @articles %>
      <%= will_paginate @articles, class: "pagination_container" %>
    <% end %>

    <%= render "layouts/footer" %>
  </div>
  
  <% if false and Rails.env.development? %>
      <%= debug(params)%>
  <% end %>

</body>
</html>
